<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>Inicio</h1>
    <nav>
        <a href="{% url 'producto_listar' %}">
            Productos
        </a>
        <a href="{% url 'materia_prima_listar' %}">
            Materia Prima
        </a>
        <a href="{% url 'usuario-list' %}">
            Usuarios
        </a>
    </nav>
    {% if user.is_authenticated %}
        <span>Hola, {{ user.username }}</span>
        <a href="{% url 'logout' %}">
            Cerrar Sesión
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            Iniciar Sesión
        </a>
    {% endif %}
{% endblock %}
</body>

</html>