<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>Inicio</h1>
    <nav>
        <a href="{% url 'producto_listar' %}">Productos</a>
    </nav>
    <nav>
        <a href="{% url 'materia_prima_listar' %}">Materia Prima</a>
    </nav>
    <nav>
        {% for p in productos %}
        {{ p.nombre }}
            <a href="{% url 'gestionar_materias_producto' producto_id=p.pk %}">Gestionar Materias Primas</a>    
        {% endfor %}
    </nav>    
    {% endblock %}
</body>

</html>