{% extends 'interna/base.html' %}
{% load static l10n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'interna/css/inventario.css' %}">
<link rel="stylesheet" href="{% static 'interna/css/detalles.css' %}">
{% endblock %}

{% block content %}
<main class="inventario">

    <header class="inventario-cabecera">
        <div>
            <h1>CATEGORÍAS</h1>
            <p>Consulta y Administra las Categorías que Pueden Tener los Productos de la Tienda.</p>
        </div>
        <a class="detalle-boton detalle-boton-secundario" href="{% url 'home' %}" style="margin-right:-11rem;">Volver Atrás</a>
        <a class="boton-crear" href="{% url 'categoria_crear' %}">+ Crear Categoría</a>
    </header>

    <section class="inventario-panel">
        <div class="filtro-estado">
            <label for="filtro-estado">Estado:</label>
            <select id="filtro-estado">
                <option value="">Todos</option>
                <option value="Activo">Activos</option>
                <option value="Deshabilitado">Deshabilitados</option>
            </select>
        </div>

        <table id="tabla-categorias"
               class="js-datatable"
               data-filtro-estado="filtro-estado"
               data-columna-estado="1"
               data-columna-acciones="2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for c in categorias %}
                <tr>
                    <td>{{ c.nombre }}</td>
                    <td data-search="{% if c.activo %}Activo{% else %}Deshabilitado{% endif %}">
                        {% if c.activo %}
                            <span class="estado estado-activo">Activo</span>
                        {% else %}
                            <span class="estado estado-deshabilitado">Deshabilitado</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="acciones">
                            <a href="{% url 'categoria_editar' c.pk%}">Editar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</main>
{% endblock %}