{% extends 'interna/base.html' %}

{% block content %}
<h1>Lista de productos</h1>
<a href="{% url 'producto_crear' %}">Crear Nuevo Producto</a>

<ul>
    {% for producto in productos %}
    <li>
        {{ producto.nombre }} - ${{ producto.precio }}
        <a href="{% url 'producto_detalles' producto.pk %}">Detalles</a> |
        <a href="{% url 'producto_editar' producto.pk %}">Editar</a>
    </li>
    {% empty %}
    <li>No hay productos registrados</li>
    {% endfor %}
</ul>
{% endblock %}